h1 {
  color: #00008b;
}

h2 {
  color: #8b0000;
}

h3 {
  color: #006400;
  text-align: center;
  text-decoration: underline;
}

table.category {
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: #f08080;
  padding: 10px;
}

td.category_header {
  border: 2px;
  border-color: black;
  border-style: dashed;
  background-color: #11cf24;
  text-align: center;
}

table.food {
  border: 3px;
  border-color: black;
  border-style: dotted;
  background-color: #d3d3d3;
  height: 200px;
  width: 160px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pantry_row, .fridge_row, .freezer_row, .drinks_row {
  display: flex;
  margin: 20px;
}

.pantry_lists_section, .fridge_lists_section, .freezer_lists_section, .drinks_lists_section {
  margin: 10px;
}

img {
  height: 300px;
  width: 300px;
  border: 2px;
  border-color: black;
  border-style: solid;
}
